/* Write your CSS here */
.cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100%;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  text-align: center;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  height: 60px;
  width: 60px;
}

.teamLogoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  height: 240px;
  margin: 10px;
  background-color: #ffffff33;
  border: 3px solid #ffffff33;
  border-radius: 10px;
  color: white;
}

.logo {
  height: 120px;
  width: 80px;
}

.cont1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.para {
  font-weight: bold;
  font-size: 32px;
  font-family: 'Bree Serif';
}

.bannerImage {
  height: 140px;
  width: 140px;
}

.MainImage {
  height: 40vh;
  width: 100vw;
  margin: 10px;
}
.secondPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #1e293b, #a4261d);
}

.latestMatchCont {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 60vw;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.oppositeLogo {
  height: 180px;
  width: 180px;
}

.MatchCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  height: 50vh;
  width: 20vw;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.size {
  height: 120px;
  width: 120px;
}

.ThirdPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest {
  color: white;
}
